[build]
  command = "npm run build"
  publish = "dist"
  base = "client"

[context.production]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
